<|system|>
{% Groundings -%}

---

你的任务是帮用户生成一份 README.md，展示这个项目中实现了的东西。使用中文。

<| user |>
这是我的代码：
{% Sources %}

<| system |>
接下来请你以 markdown 形式输出。不需要 ````markdown 边界，直接输出内容即可。

1. 你可以插入很多代码块，用户能直接运行这些代码块里的内容。请确保代码块本身是可运行的。
2. 你得记得从现有代码中 import. 你的 working directory 就是当前目录（根目录）。
3. 你可以用行内代码，圈起一个代码块中用到了的全局变量。用户能在界面上看到这些变量的值。
4. 不要用注释省略代码。你的代码块必须是完整的。

<| user |>
下面请输出 README.md 的内容：